<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jean_.pocketmarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".visao.telasAntesLogin.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".visao.telasAntesLogin.decisaoFormularioCadastro"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasAntesLogin.formularioPF"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasAntesLogin.formularioPJ"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.principal.telaPrincipal"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdNotebook"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdMoto"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdDesktop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdCelulares"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdCasa"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdCarro"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdapartamento"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioProdServico"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.formularios_cadastro.formularioMensagem"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaCategoriasProdutos"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaCategoriasProdutosAnunciados"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaComputadoresNotebooks"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaImoveis"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriaComputadoresNotebook"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriaComputadoresNotebookAnunciado"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriaImoveis"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriaImoveisAnunciados"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriasProduto"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriaVeiculo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaPesquisaCategoriaVeiculoAnunciados"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaProdutoServico"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaUsuarioCategoriasMensagens"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaUsuarioPrincipal"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visao.telasDepoisLogin.telasNavegacao.telaVeiculos"
            android:screenOrientation="portrait" />

    </application>

</manifest>